- title! 'Set current period'
- current_period = Period.get_current
.uk-panel.uk-panel-box.uk-container-center.uk-width-3-5
    - if current_period != @period
        %p
            - if current_period
                Current period is #{current_period}.
            - else
                There is no period set as current one.
            %p Are you sure you want to set period #{@period} as current one?
            = link_to "Cancel", :back, class: "uk-button uk-align-left"
            = link_to "Set as current period", set_current_admin_period_path(@period), method: :post, class: "uk-button uk-button-primary uk-align-right"
    - else
        %p This period is already the current one.
        = link_to "Cancel", :back, class: "uk-button uk-align-left"
