- title! "Period"
- if current_user.is_admin?
    %ul.uk-breadcrumb
        %li= link_to 'Administration', admin_path
        %li= link_to 'Periods', admin_periods_path
        %li.uk-active Period

.uk-panel.uk-panel-box.uk-panel-header
    .uk-panel-title
        %h2=@period.name
    %ul
        %li From #{@period.start_date}
        %li To #{@period.end_date}

%br

.uk-panel.uk-panel-box.uk-panel-header
    .uk-panel-title
        Teachers, school classes & disciplines
    - @period.teachings.group_by(&:teacher).each do |teacher, teachings|
        %h4= link_to teacher.full_name, user_path(teacher.user)
        %dl.uk-description-list.uk-description-list-horizontal
            - teachings.group_by(&:discipline).each do |discipline, teachings|
                %dt= link_to discipline.name, admin_discipline_path(discipline)
                %dd
                    - teachings.each do |teaching|
                        = link_to teaching.school_class.name, admin_school_class_path(teaching.school_class)

- sidebar! do |s|
    - s.header 'Administration'
    = s.link 'Edit period', edit_admin_period_path(@period), icon: "edit" if policy(@period).update?
    = s.link 'Delete period', destroy_confirmation_admin_period_path(@period), icon: "trash-o" if policy(@period).destroy?
