- title! "Period"
- if current_user.is_admin?
    %ul.uk-breadcrumb
        %li= link_to 'Administration', admin_path
        %li= link_to 'Periods', admin_periods_path
        %li.uk-active Period

.uk-panel.uk-panel-box
    %h2=@period.name
    %ul
        %li From #{@period.start_date}
        %li To #{@period.end_date}

- sidebar! do |s|
    - s.header 'Administration'
    = s.link 'Edit period', edit_admin_period_path(@period), icon: "edit" if policy(@period).update?
    = s.link 'Delete period', destroy_confirmation_admin_period_path(@period), icon: "trash-o" if policy(@period).destroy?
