- content_for :title do
    Teacher #{@teacher.user.login}
.row
    .large-12.columns
        %ul.vcard
            %li.fn= @teacher.user.full_name
            %li.email= mail_to @teacher.user.email
.row
    .large-12.columns
        %h3 Classes &amp; disciplines
        - if @tscds.count > 0
            %ul
                - @tscds.each do |tscd|
                    %li #{tscd.school_class.name} => #{tscd.discipline.name}
        - else
            %p
                %em No class/discipline are associated to this teacher
- content_for :toolbar do
    %dl
        %dt Actions
        %dd
            %ul.link-list
                %li= link_to("view all teachers", admin_teachers_path, class: "glyph-index")
                %li= link_to("create a new teacher", new_admin_teacher_path, class: "glyph-add")
                %li= link_to("edit this teacher", edit_admin_teacher_path(@teacher), class: "glyph-edit")
                %li= link_to("Add a class", admin_teacher_add_school_class_path(@teacher), class: "glyph-add")
                %li= link_to("Remove a class", admin_teacher_rem_school_class_path(@teacher), class: "glyph-minus")
                %li= link_to("delete this teacher", admin_teacher_path(@teacher), method: :delete, class: "glyph-delete")
