- title! 'Change class'
.uk-panel.uk-panel-box.uk-width-3-5.uk-container-center
    %p Change the class of the following student:
    = render partial: 'users/summary', object: @student.user, as: :user
    = form_for [ :admin, @student ], html: { class: 'uk-form uk-form-horizontal uk-margin-top' } do |f|
        .uk-form-row
            = f.label :school_class_id, class: 'uk-form-label'
            .uk-form-controls
                .uk-form-select.uk-button.uk-width-1-1.uk-text-left{data: {'uk-form-select' => ''}}
                    %span
                    = f.collection_select :school_class_id, SchoolClass.all, :id, :name, {}, {class: 'uk-width-1-1'}
                    .uk-float-right
                        %i.uk-icon-chevron-down
            .uk-align-right.uk-margin-top
                = link_to 'Cancel', @student.user, class: 'uk-button'
                = f.submit 'Apply', class: 'uk-button uk-button-primary'
