= form_for @user, html: { class: 'uk-form uk-form-horizontal', multipart: true } do |f|
    .uk-panel.uk-panel-box.uk-margin-bottom
        .uk-panel-title= t('.login.section')
        = f.auto_input :login, field: { disabled: @user.persisted?, required: !@user.persisted? }
        = f.auto_input :email, field: { required: true }, field_method: :email
        .uk-form-row
            %label.uk-form-label= t('activerecord.attributes.user.password')
            .uk-form-controls
                %input.uk-width-1-1{ disabled: true, value: t('.login.password') }/
                - unless @user.persisted?
                    .uk-form-help-block= t('.login.password_help')
    .uk-panel.uk-panel-box.uk-margin-bottom
        .uk-panel-title= t('.id.section')
        = f.auto_input :first_name, { required: true }
        = f.auto_input :last_name, { required: true }
        %hr/
        .uk-panel-title= t('.id.optionnal')
        .uk-text-center.uk-text-muted
            Empty
    - if params[:role]
        .uk-panel.uk-panel-box.uk-margin-bottom
            .uk-text-center.uk-text-muted
                = params[:role]
    .uk-grid
        .uk-width-1-2
            = check_box_tag :activate
            = label_tag :activate, t('.activate')
        .uk-width-1-2.uk-text-right
            = f.submit t(@user.persisted? ? '.edit' : '.create'), class: 'uk-button uk-button-primary'
