= link_to user, class: 'cl-user-thumbnail uk-panel uk-panel-box' do
    .uk-panel-teaser
        = image_tag "users/#{user.login}.jpg"
    %strong= user.full_name
    %br/
    .uk-text-muted= user.login
