- title! @user == current_user ? t('.page.title') : @user.full_name
- if policy(@user).index?
    %ul.uk-breadcrumb
        %li= link_to t('.bread.administration'), admin_path
        %li= link_to t('.bread.users'), admin_users_path
        %li.uk-active= @user.login
.uk-grid
    .uk-width-medium-1-4.uk-hidden-small
        = image_tag(@user.avatar.url, class: 'uk-thumbnail uk-width-1-1')
        - if policy(@user).update?
            .uk-panel.uk-panel-box.uk-margin-top
                .uk-panel-title Change profile picture
                = form_for(@user) do |f|
                    = f.file_field :avatar
                    = f.submit 'DO IT', class: 'uk-button'
    .uk-width-medium-3-4
        .uk-panel.uk-panel-box.uk-panel-box-primary.uk-panel-header
            .uk-panel-title= @user.full_name
            %dl.uk-description-list.uk-description-list-horizontal
                %dt= t('.login')
                %dd= @user.login
                %dt= t('.email')
                %dd= link_to @user.email, 'mailto:' + @user.email
        - if policy(@user).update?
            .uk-panel.uk-panel-box.uk-panel-header
                .uk-panel-title= t('.administration')
                %dl.uk-description-list.uk-description-list-horizontal
                    %dt= t('.account.status')
                    = user_status(@user)
                - if @user.last_sign_in_at?
                    %h4= t('.account.lastlog')
                    %dl.uk-description-list.uk-description-list-horizontal
                        %dt= t('.account.ip')
                        %dd= @user.current_sign_in_ip
                        %dt= t('.account.date')
                        %dd= l(@user.current_sign_in_at)
        - if policy(@user).private?
            .uk-panel.uk-panel-box.uk-panel-header
                .uk-panel-title= t('.personal')
                %dl.uk-description-list.uk-description-list-horizontal
                    %dt= t('activerecord.attributes.user.phone')
                    %dd= @user.phone.empty? ? muted(t('.empty')) : @user.phone
                    %dt= t('activerecord.attributes.user.address')
                    %dd= @user.address.empty? ? muted(t('.empty')) : @user.address
        = render partial: 'teacher/profile', object: @user.as_teacher, as: :teacher if @user.is_teacher?
        = render partial: 'student/profile', object: @user.as_student, as: :student if @user.is_student?
- sidebar! do |s|
    - s.header t('.sidebar.title')
    - if policy(User).create?
        = s.link t('.sidebar.user.create'), new_user_path, icon: 'plus'
    - s.header t('.sidebar.account')
    - if policy(@user).edit?
        = s.link t('.sidebar.user.edit'), edit_user_path(@user), icon: 'pencil'
    - if policy(@user).reset_password?
        = s.link(@user.password_set? ? t('.sidebar.user.reset') : t('.sidebar.user.init'), admin_user_reset_password_path(@user), link: {method: :post}, icon: 'key')
    - if @user.locked_at? and policy(@user).update?
        = s.link(t('.sidebar.user.unlock'), admin_user_unlock_path(@user), link: {method: :post}, icon: 'unlock')
    - if policy(@user).destroy?
        = s.link(t('.sidebar.user.delete'), admin_user_destroy_path(@user), icon: 'trash-o')
    - s.header t('.sidebar.roles')
    - if not @user.is_admin? and policy(Admin).create?
        = s.link t('.sidebar.admin.promote'), admin_user_promote_admin_path(@user)
    - elsif @user.is_admin? and policy(@user.as_admin).destroy?
        = s.link t('.sidebar.admin.demote'), admin_user_demote_admin_path(@user)
    - if not @user.is_teacher? and policy(Teacher).create?
        = s.link t('.sidebar.teacher.promote'), admin_user_promote_teacher_path(@user)
    - elsif @user.is_teacher? and policy(@user.as_teacher).destroy?
        = s.link t('.sidebar.teacher.demote'), admin_user_demote_teacher_path(@user)
    - if not @user.is_student? and policy(Student).create?
        = s.link t('.sidebar.student.promote'), admin_user_promote_student_path(@user)
    - elsif @user.is_student? and policy(@user.as_student).destroy?
        = s.link t('.sidebar.student.demote'), admin_user_demote_student_path(@user)
