- title! 'Change password'
.uk-panel.uk-panel-box.uk-panel-header
    -#
        User-dependant resources are work pending.
        We should override the controller method in order to get access
        to the user.
    -# if resource.password_set?
        .uk-panel-title Reset password
        %p You have asked to reset your Cloudiversity password.
        %p Fill your new, strong password in the fields below to do so.
    -# else
    .uk-panel-title Welcome!
    %p It seems you are connecting to Cloudiversity for the first time.
    %p
        In order to access your account, you must first set a password
        using the form below. Choose a strong password, write it in the
        boxes below, and validate to activate your account.
    %hr/
    -#= render partial: 'users/summary', object: resource, as: :user
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'uk-form uk-form-horizontal' }) do |f|
        - if resource.errors
            .alert.alert-warning
                = resource.errors.full_messages.first
        = f.hidden_field :reset_password_token
        .uk-form-row
            = f.label :password, 'New password', class: 'uk-form-label'
            .uk-form-controls
                = f.password_field :password, class: 'uk-width-1-1', autofocus: true, autocomplete: 'off'
        .uk-form-row
            = f.label :password, 'Confirm password', class: 'uk-form-label'
            .uk-form-controls
                = f.password_field :password, class: 'uk-width-1-1', autofocus: true, autocomplete: 'off'
                %small Repeat your password, to be sure you didn't mistyped it.
        .uk-form-row
            = f.submit 'Change password', class: 'uk-button uk-button-primary uk-align-right uk-margin-bottom-remove'
