#cl-attachments
    = f.fields_for :attachments do |ff|
        .uk-form-row
            .uk-form-label
                = image_tag ff.object.icon, alt: ff.object.filename
                = ff.label :file, ff.object.filename || I18n.t('attachment.file', default: 'file')
            .uk-form-control
                = ff.file_field :file
                - if ff.object.persisted?
                    = ff.label :_destroy, I18n.t('attachment.remove', default: 'remove')
                    = ff.check_box :_destroy
                - else
                    = ff.link_to_remove I18n.t('attachment.remove', default: 'remove')
= f.link_to_add 'Add an attachment', :attachments, data: { target: '#cl-attachments' }
