%h2 Add attendees to #{@school_class.name}
= form_for [ :admin, @school_class ], url: admin_school_class_add_path(@school_class), method: :post do |f|
    %table
        %thead
            %tr
                %th
                %th Name
        %tbody
            - @users.each do |user|
                = fields_for 'user[]', user do |user_fields|
                    %tr
                        %td= user_fields.check_box :id, checked: false, class: 'inline'
                        %td= user_fields.label :id, user.full_name
    = f.submit class: 'button'
