- title! 'Add attendees'
%h1.uk-h2
    Add attendees to
    %em= @school_class.name
.cl-box-list
    = link_to admin_school_class_add_new_path(@school_class), class: 'uk-panel uk-panel-box' do
        .uk-panel-title Add new students
        Will let you select students to add from a list of persons with no roles (typically newly
        created users).
%h2.uk-h4 Transfer from another class
.cl-box-list
    - @school_classes.each do |klass|
        = link_to admin_school_class_transfer_path(@school_class, klass), class: 'uk-panel uk-panel-box' do
            = klass.name
            .uk-align-right
                %span.uk-text-muted
                    .uk-icon.uk-icon-mortar-board
                    = klass.students.count
                .uk-icon.uk-icon-chevron-right.uk-margin-left
