- title! @school_class.name
- if current_user.is_admin?
    %ul.uk-breadcrumb
        %li= link_to 'Administration', admin_path
        %li= link_to 'School Classes', admin_school_classes_path
        %li.uk-active= @school_class.name
%ul.uk-subnav.uk-subnav-pill{data: {'uk-switcher' => '{connect: "#cl-class-switcher"}'}}
    %li.uk-active= link_to 'Students', '#students'
    %li= link_to 'Lessons', '#lessons'
%ul.uk-switcher#cl-class-switcher
    %li
        .uk-text-center
            = render partial: 'users/thumbnail', collection: @school_class.students.map { |s| s.user }, as: :user
    %li
        - @periods.each do |period, tscds|
            %h3= link_to period.to_s, admin_period_path(period)
            .uk-margin-large-left
                .cl-box-list
                    - tscds.each do |tscd|
                        .uk-panel.uk-panel-box
                            %strong= link_to tscd.discipline.name, [ :admin, tscd.discipline ]
                            .uk-float-right
                                %i.uk-icon-mortar-board
                                = link_to tscd.teacher.full_name, tscd.teacher.user
- sidebar! do |s|
    - s.header 'Administration'
    - if policy(@school_class).create?
        = s.link 'Edit class', edit_admin_school_class_path(@school_class)
