- title! 'Transfer'
%h2
    Students in
    %em= @old_school_class.name
= form_for @school_class, url: admin_school_class_add_path(@school_class), method: :post do |f|
    %ul.uk-grid
        - @old_school_class.students.each do |student|
            %li.uk-width-medium-1-2
                .uk-panel.uk-margin-bottom
                    = check_box_tag 'newcomers[]', student.id
                    = image_tag student.user.avatar.url, class: 'uk-thumbnail cl-profile-checks'
                    = student.user.full_name
    .uk-align-right
        = hidden_field_tag 'old_school_class_id', @old_school_class.id
        = hidden_field_tag 'mode', 'transfer'
        = f.submit 'Proceed', class: 'uk-button uk-button-primary'
