.uk-panel.uk-panel-box.uk-container-center.uk-width-large-3-5
    - if params[:action] == 'new'
        You're promoting this user to the “#{user.class.name}” role.
    - else
        You're removing the “#{user.class}” role from this user.
    - if user.kind_of?(Admin) and params[:action] == 'new'
        %span.uk-text-warning
            This will give him/her access to most features of this Cloudiversity
            instance.
    = form_for [ :admin, user ], method: (params[:action] == 'new' ? :post : :delete), html: { class: 'uk-form uk-margin-top uk-form-horizontal' } do |f|
        .uk-form-row
            = render :partial => 'users/summary', object: user.user, as: :user
            = f.hidden_field :user_id, value: user.user.id
        - if params[:action] == 'new'
            = render :partial => 'admin/' + user.class.name.pluralize.underscore + '/form', object: user, as: user.class.name.underscore.to_sym, locals: { f: f }
        .uk-form-row.uk-align-right
            = link_to 'Cancel', user.user, class: 'uk-button'
            = f.submit params[:action] == 'new' ? 'Promote' : 'Demote', class: 'uk-button uk-button-primary'
