- title! 'Administration'
.uk-grid
    .uk-width-large-1-2
        .uk-panel.uk-panel-box
            %h3.uk-panel-title User management
            %ul.uk-nav.uk-nav-side
                %li
                    = link_to admin_users_path do
                        %i.uk-icon-eye
                        View all
                        %div View, edit, remove users, or change user roles
                %li
                    = link_to new_admin_user_path do
                        %i.uk-icon-plus
                        Create a new one
                -#
                    %li
                        = link_to '' do
                        %i.uk-icon-key
                        Activate accounts
                %li.uk-nav-header Filter users
                %li= link_to 'Teachers', admin_teachers_path
                %li.uk-nav-header Search
                %li
                    = form_tag search_admin_users_path, method: :post, class: 'cl-links-form uk-form' do
                        .uk-autocomplete(data-uk-autocomplete="{source: '#{search_admin_users_path}', param: 'login'}")
                            = search_field_tag :login, '', class: 'uk-form-field uk-width-1-1', placeholder: 'Search by login...'
                            %script{type: 'text/autocomplete'}
                                %ul.uk-nav.uk-nav-autocomplete.uk-autocomplete-results
                                    {{~items}}
                                    %li{data: {value: '{{$item.value}}'}}
                                        %a{href: '{{$item.url}}'}
                                            {{ $item.title }}
                                            %div {{ $item.text }}
                                        {{/items}}
                                        %hr/
                %li= link_to 'Advanced search', search_admin_users_path
    .uk-width-large-1-2
        .uk-panel.uk-panel-box
            %h3.uk-panel-title School structure
            %ul.uk-nav.uk-nav-side
                %li.uk-nav-header Disciplines
                %li
                    = link_to admin_disciplines_path do
                        %i.uk-icon-eye
                        View all
                %li
                    = link_to new_admin_discipline_path do
                        %i.uk-icon-plus
                        Create a new one
                %li.uk-nav-header Classes
                %li
                    = link_to admin_school_classes_path do
                        %i.uk-icon-eye
                        View all
                %li
                    = link_to new_admin_school_class_path do
                        %i.uk-icon-plus
                        Create a new one
                %li.uk-nav-header Periods
                %li
                    = link_to admin_periods_path do
                        %i.uk-icon-eye
                        View all
                %li
                    = link_to new_admin_period_path do
                        %i.uk-icon-plus
                        Create a new one
