%h2 Administration
%dl
    %dt= link_to 'Users', admin_users_path
    %dd
        Allows to view users, edit or delete them, and add new.
    %dt= link_to 'Teachers', admin_teachers_path
    %dd
        Allows to view teachers, edit or delete them, and add new.
    %dt= link_to 'Students', admin_students_path
    %dd
        Allows to view students, edit or delete them, and add new.
    %dt= link_to 'Classes', admin_school_classes_path
    %dd
        Allows to manage classes and attendees
    %dt= link_to 'Disciplines', admin_disciplines_path
    %dd
        Allows to view disciplines, edit or delete them, and add new.
