- title! 'Welcome'
%h1 Welcome to Cloudiversity
= sidebar! do |s|
    - s.header current_user.full_name
    = s.link 'Profile', current_user
    - if current_user.is_teacher?
        - s.header 'Teacher'
        = s.link 'My classes', [ :admin, SchoolClass ], badge: current_user.as_teacher.teacher_school_class_discipline.count

- unless @widgets.nil? || @widgets.empty?
    %ul.uk-grid{'data-uk-grid-margin' => ''}
        - @widgets.each do |name|
            %li.uk-width-1-3
                .cl-widget.uk-panel.uk-panel-box
                    - begin
                        = render_cell name, :show, user: current_user
                    - rescue Exception => e
                        = "Failed to render widget #{name}: #{e}"

