- title! t('.page.title')
%h1= t('.title')
= sidebar! do |s|
    - s.header current_user.full_name
    = s.link t('.profile'), current_user
    - if current_user.is_teacher?
        - s.header t('.teacher.section')
        = s.link t('.teacher.classes'), [ :admin, SchoolClass ], badge: current_user.as_teacher.teachings.count

- unless @widgets.nil? || @widgets.empty?
    %ul#widget_list.uk-grid.uk-sortable{ :'data-uk-grid-margin' => '', :'data-uk-sortable' => "{handleClass:'uk-panel'}" }
        - @widgets.each do |name|
            %li.uk-width-1-3{ :'data-cl-widget-name' => name }
                .cl-widget.uk-panel.uk-panel-box
                    - begin
                        = render_cell name, :show, user: current_user
                    - rescue Exception => e
                        = "Failed to render widget #{name}: #{e}"
