= form_for [:admin, user], html: { class: 'uk-form uk-form-horizontal' } do |f|
    = f.auto_input :login, field: { disabled: user.persisted?, required: !user.persisted? }
    = f.auto_input :email, field: { required: true }, field_method: :email
    = f.auto_input :first_name, field: { required: true }
    = f.auto_input :last_name, field: { required: true }
    - unless user.persisted?
        .uk-form-row
            = f.label :password, class: 'uk-form-label'
            .uk-form-controls
                .uk-form-blank.uk-width-1-1 Set by the user
                .uk-text-muted
                    The newly created account will be inactive. When the
                    account will be activated, a mail will be sent to user's
                    address with instructions on how to set his password.
    = f.submit class: 'uk-button uk-button-success uk-align-right uk-margin-top'
