= form_for [:admin, user] do |f|
    = f.auto_input :login, field: { disabled: user.persisted?, required: !user.persisted? }
    = f.auto_input :email, field: { required: true }, field_method: :email
    = f.auto_input :first_name, field: { required: true }
    = f.auto_input :last_name, field: { required: true }
    - unless user.persisted?
        %p
            %em
                The password for the new user will be generated randomly and sent to
                the user's e-mail address.
    = f.submit class: 'button right'
