- title! 'Delete user'
.uk-panel.uk-panel-box.uk-width-3-5.uk-container-center
    %strong You are deleting the following user:
    .uk-margin-top.uk-margin-bottom
        = render partial: 'users/summary', object: @user, as: :user
    - if @user.roles.count > 0
        %p This action is not currently possible, as this user has still the following roles assigned:
        %ul
            - @user.roles.each do |r|
                %li= r.role_type
        %p
            In order to ensure database consistency, you cannot remove this user while it still has roles.
            Please demote this user from all the roles above, which will ensure that all associated data
            is deleted as well, and then delete the user itself.
        .uk-align-right
            = link_to 'Back', @user, class: 'uk-button'
    - else
        This action is not reversible.
        = form_for @user, url: admin_user_path(@user), method: :delete do |f|
            .uk-align-right
                = link_to 'Cancel', @user, class: 'uk-button'
                = f.submit 'Delete', class: 'uk-button uk-button-danger'

