- content_for :title do
    User #{@user.login}
%ul.vcard
    %li.fn= @user.full_name
    %li.email= mail_to @user.email
- content_for :toolbar do
    %dl
        %dt Actions
        %dd
            %ul.link-list
                %li= link_to("view all users", admin_users_path, class: "glyph-index")
                %li= link_to("create a new user", new_admin_user_path, class: "glyph-add")
                %li= link_to("edit this user", edit_admin_user_path(@user), class: "glyph-edit")
                %li= link_to("delete this user", admin_user_path(@user), method: :delete, class: "glyph-delete")
