!!!
%html{lang: :en}
    %head
        %title
            - if content_for?(:title)
                = yield(:title)
                &mdash; Cloudiversity
            - else
                Cloudiversity
        %meta{name: :viewport, content: 'width=device-width,initial-scale=1.0'}/
        %meta{charset: 'utf-8'}/
        = stylesheet_link_tag 'application', media: 'all'
        = javascript_include_tag 'vendor/modernizr'
        = csrf_meta_tags
    %body
        = render partial: 'static/menu'
        - if content_for?(:title)
            %h1= yield(:title)
        - if alert
            .alert-box.alert= alert
        - if notice
            .alert-box= notice
        .wrapper
            %main
                = yield
            - if content_for?(:toolbar)
                %aside.toolbar
                    = yield(:toolbar)
        = javascript_include_tag 'application'
