!!!
%html{lang: :en}
    %head
        %title #{yield :title} &mdash; Cloudiversity
        %meta{name: :viewport, content: 'width=device-width,initial-scale=1.0'}/
        %meta{charset: 'utf-8'}/
        = stylesheet_link_tag 'application', media: 'all'
        = csrf_meta_tags
    %body
        %nav.uk-navbar.uk-navbar-attached
            = link_to root_path, class: 'uk-navbar-brand uk-visible-large' do
                %strong> Cloud
                iversity
            .uk-navbar-content.uk-navbar-center
                = yield :title
        %main
            .uk-width-large-2-5.uk-container-center
                .uk-panel
                    - if alert
                        .uk-alert.uk-alert-warning= alert
                    - if notice
                        .uk-alert= notice
                    = yield
        = javascript_include_tag 'application'
